html {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    line-height: 25px;
    color: rgba(255, 255, 255);
}
body {
    background-image: url('https://creativo.one/lessons/les5669/01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div, img, header, footer, main { 
    border-radius: 6px; 
    
}
.main {
    max-width: 55%;
    margin: 50px auto;
    padding: 15px;
    background-color: rgba(255, 140, 140, 0.5);
}
header, main, footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: 15px;
}
.image, .name, .date {
    width: 40%;
	display: inline-block;
}
.name {
    height: 204px;
    position: absolute;
    vertical-align: middle;
    margin-top: 10px;
}
a {
    color: rgba(65, 217, 255);
}
#photo {
    height: 200px;
}
#logo {
    border-radius: 0px; 
    height: 80px;
}